/xd_parent/service/service-oss/src/main/resources/application.properties
/xd_parent/service/service_vod/src/test/java/com/xd/vodtest/InitObject.java
/xd_parent/service/service_vod/src/main/resources/application.properties
/xd_parent/service/service_msm/src/main/java/com/xd/msmservice/service/impl/MsmServiceImpl.java
